<!DOCTYPE html>
<html>
<head>
  <script src="https://unpkg.com/vue@2.2.6"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
  <meta charset="utf-8">
  <title>Simple Climate App</title>
</head>
<body>
  <div id="app">
    <h3>Simple Climate App</h3>
    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option>Jakarta</option>
      <option>London</option>
      <option>Tokyo</option>
    </select>
    <h4>Result :</h4>
    <table style="width:100%">
      <tr>
        <th>{{ selected }}</th>
        <th>Temperature</th>
        <th>Variance</th>
      </tr>
      <tr v-for="item in itemss.list">
        <td>{{ item.dt }}</td>
        <td>{{ item.temp.day }}C</td>
        <td>{{ item.temp.min }}C</td>
      </tr>
    </table>
    <!--<pre>{{ $data }}</pre>-->
  </div>

</body>
</html>
